<launch>
  <arg name="cmd_vel_topic" default="/cmd_vel"/>
  <arg name="direction" default="forward"/>
  <arg name="speed" default="1.0"/>
  <arg name="linear_speed" default="0.1"/>
  <arg name="angular_speed" default="0.2"/>
  <arg name="duration" default="0.0"/>
  <arg name="publish_rate" default="20.0"/>

  <node pkg="my_robot_package" type="move_to_goal.py" name="move_to_goal" output="screen">
    <param name="cmd_vel_topic" value="$(arg cmd_vel_topic)"/>
    <param name="direction" value="$(arg direction)"/>
    <param name="speed" value="$(arg speed)"/>
    <param name="linear_speed" value="$(arg linear_speed)"/>
    <param name="angular_speed" value="$(arg angular_speed)"/>
    <param name="duration" value="$(arg duration)"/>
    <param name="publish_rate" value="$(arg publish_rate)"/>
  </node>
</launch>
